:host {
    position: relative;
    background: var(--background);
    background: url('./assets/bg.gif') #d0f6cc;
    background-size: 100px;
    overflow: hidden;
    height: 100%;
    font-family: 'ABeeZee', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#outer {
    position: relative;
    height: 96px;
    min-width: 304px;
    margin: 50px;
}

#top, #slide, #expander, #scale, .note {
    position: absolute;
}

#top {
    top: 0;
    left: 0;
}

#slide {
    top: 50px;
    right: 0;
}

#expander {
    bottom: 0;
    left: 162px;
    width: calc(100% - 300px);
    height: 46px;
}

#scale {
    margin-left: 180px;
    white-space: nowrap;
    font-size: 0px;
}

#scale .mark {
    display: inline-block;
    width: 43px;
    padding-left: 5px;
    
    border-left: 2px solid rgba(0,0,0,.5);
    
    font-size: 20px;
    color: #3a3a3a;
    text-shadow: -2px 2px rgba(0,0,0,.2);
}

.note {
    top: 22px;
    left: 203px;
    z-index: -1;
}


